.row {
    display: flex;
}
.col {
    flex: 0 0 auto;
    margin: 1px;
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    background-color: gray;
    font-size: 10px;
    overflow-wrap: anywhere;
    color: white;
}

.cursor {
    background-color: red;
}
.filled {
    background-color: blue;
}